{{!-- Home Content --}}
<div class="col h-100 content">
  {{!-- Button createPlaylist and display user playlists section --}}
  <section id="user-home" class="">
    <div class="section-wrap container d-flex justify-content-center">
      <div class="row w-100">
        <div class="col h-100">
          <h1 class="title">playgr<i class="far fa-play-circle play-icon-title"></i>und</h1>
          <button class="btn btn-success create-btn" id="new-playlist-btn">Create Playlist</button>
          <div class="playlists p-2" id="playlists-display">

          </div>
        </div>
      </div>
    </div>
  </section>
  {{!-- Search videos, create and save new playlists --}}
  <section id="edit-playlist" class="d-none">
    <div class="section-wrap container-fluid">
      <button id="back-btn-1" class="btn btn-primary m-2">Back</button>
      <form id="playlist-search-form" class="container-fluid">
        <div class="form-group d-flex justify-content-center">
          <input class="form-control no-border" type="text" name="search" id="playlist-search-input"
            placeholder="Make your search here">
          <i class="fas fa-search search-btn search-icon"></i>
        </div>
      </form>
      <div class="row">
        <div class="col search-result mt-3" id="search-results">

        </div>
        <div class="col playlist-wrap overflow-hidden mt-3">
          <input class="form-control mb-2" id="playlist-name" type="text" value=""
            placeholder="Name your playlist here">
          <div class="mb-2">
            <button class="btn btn-success" id="saveBtn">Save</button>
            <button class="btn btn-warning text-light" id="clearBtn">Clear</button>
          </div>
          <div class="playlistDiv" id="playlist-display">

          </div>
        </div>
      </div>
    </div>
  </section>
  {{!-- Player and timer section --}}
  <section id="play-playlist" class="d-none">
    <div class="section-wrap d-flex flex-column container-fluid">
      <div class="row chronometer-wrap timer m-2 mb-2">
        <div id="chronometer" class="d-none">
          <div class="timer-wrap m-2">
            <span class="chronometer">0</span>
            <span>:</span>
            <span class="chronometer">0</span>
            <span class="chronometer">0</span>
            <span>:</span>
            <span class="chronometer">0</span>
            <span class="chronometer">0</span>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center">
          <input type="text" class="chronometer-time-input form-control mr-2" placeholder="HH">
          <input type="text" class="chronometer-time-input form-control" placeholder="MM">
          <button id="chronometer-switch-button" class="btn btn-success m-2">SET</button>
          <button id="chronometer-reset-button" class="btn btn-warning m-2">RESET</button>
        </div>
        <button id="back-btn-2" class="btn btn-primary m-2">Back</button>
      </div>

      <div class="wraper">
        <video class="video-js">
          
        </video>
        <div class="vjs-playlist">
          <!--
              The contents of this element will be filled based on the
              currently loaded playlist
            -->
        </div>
      </div>
    </div>
  </section>
</div>

{{!-- scripts --}}
<script src='https://vjs.zencdn.net/7.4.1/video.js'></script>
<script src="src/videojs/videojs-playlist.js"></script>
<script src="src/videojs/videojs-playlist-ui.js"></script>
<script src="src/videojs/Youtube.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"
  integrity="sha256-mpnrJ5DpEZZkwkE1ZgkEQQJW/46CSEh/STrZKOB/qoM=" crossorigin="anonymous"></script>
<script src="src/classes.js"></script>
<script src="src/videojsHandler.js"></script>
<script src="src/playground-frontend.js"></script>