<div class="col h-100 w-100">
  <div class="container presentation d-flex flex-column justify-content-center">
    <h1 class="presentation-title color-primary">playgr<i class="far fa-play-circle play-icon"></i>und</h1>
    <a href="/auth/google" class="btn login-btn text-light">Proceed with Google</a>
  </div>
</div>